* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.searchInput {
  width: 600px !important;
  background: #f1f3f4;
  border: none;
}
.icon_flex {
  display: flex;
  align-items: center;
  padding-right: 60px;
}
.navbar-brand h2 {
  font-size: 22px;
  font-weight: 400;
}
.header_nav {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #d0d0d0;
}
.nav-icons {
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
}
.nav-icons:hover {
  opacity: 0.87;
  background-color: rgba(95, 99, 104, 0.157);
}
.nav-icons span {
  text-align: center;
  width: 100%;
  font-size: 16px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 69px;
  height: 100%;
  width: 78px;
  background: #fff;
  padding: 6px 14px;
  z-index: 99;
  /* transition: all 0.5s ease; */
}
.sidebar li img {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  align-items: center;
  text-decoration: none;
  background: rgb(255, 255, 254);
}
.sidebar li a:hover .links_name {
  color: #8b8b8b;
}
.sidebar li a:hover i {
  color: #8b8b8b;
}
.sidebar li a .links_name {
  color: rgb(82, 80, 80);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  border-radius: 12px;
}

/****toggle function****/

.sidebar.open {
  width: 196px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.sidebar.open li .tooltip {
  display: none;
}
.sidebar.open li a .links_name {
  opacity: 1;
}

.sidebar.open li a {
  border-radius: 0 25px 25px 0 !important;
}
.sidebar ul li i {
  color: #5f6368;
}
.sidebar.open ~ #notes {
  position: relative;
  left: 165px !important;
  width: calc(100% - 165px) !important;
}
.sidebar.open ~ #form-container {
  position: relative;
  left: 196px;
  width: calc(100% - 196px);
}

main {
  margin: 0 auto;
  max-width: 900px;
}

#placeholder {
  margin-top: 10vh !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#placeholder-logo {
  height: 120px;
  margin: 20px;
  opacity: 0.1;
  width: 120px;
}

#placeholder-text {
  color: #80868b;
  cursor: default;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
}

#form-container {
  border-radius: 8px;
  border: 0.5px solid #d3d3d3;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  margin-top: 60px !important;
  max-width: 496px;
  position: relative;
  left: 97px;
  width: calc(100% - 97px);
  margin: 0 auto;
}

#form {
  position: relative;
  border: none;
  margin: 1px;
  border-radius: 8px;
}

.form-open {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.header-logo {
  height: 4em;
}

.header-title {
  color: #5f6368;
  font-size: 2rem;
  padding-top: 4px;
  padding-left: 4px;
}
/* #notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  left: 70px;
  width: calc(100% - 50px); */
/* margin: 20px; */
/* } */

#notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left: 50px;
  width: calc(100% - 50px);
}

#note-text {
  width: calc(100% - 10px);
  min-height: 43px;
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
  letter-spacing: 0.00625em;
  border: 0;
  overflow: hidden;
  position: relative;
}

.modal-title {
  width: calc(100% - 10px);
  min-height: 43px;
  margin: 0 5px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00625em;
  border: 0;
  overflow: hidden;
  position: relative;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding: 16px 12px 12px 12px;
}

#note-title {
  display: none;
  width: calc(100% - 10px);
  min-height: 43px;
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  border: 0;
}

#form:focus,
input:focus {
  outline: none;
}

#placeholder {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#form-buttons {
  display: none;
  /* text-align: right; */
}
.note-icons {
  padding-left: 17px;
  padding-top: 10px;
}
.note-icons .icons_span {
  padding: 0px 10px;
  color: #5f6368;
  font-size: 18px !important;
}
.note-icons .material-icons {
  font-size: 18px !important;
  cursor: pointer;
}
.note-icons .icons_span:first-child {
  padding: 0px !important;
}
.note-icons .icons_span:last-child {
  padding: 0px !important;
}

#form-close-button {
  margin: 0.2em 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 36px;
  padding: 8px 15px;
  border-radius: 4px;
  border-color: transparent !important;
  background-color: rgb(251, 251, 251);
}

#submit-button {
  color: #fff;
  background-color: #007bff;
}

#form-close-button:hover {
  filter: brightness(95%);
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  width: 250px;
  background-color: #fff;
  border-color: #e0e0e0;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  height: 125px;
}

.note-title {
  padding-top: 12px;
  letter-spacing: 0.00625em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 38px;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  min-height: 30px;
  letter-spacing: 0.01428571em;
  padding: 4px 16px 12px 16px;
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.toolbar_popup {
  opacity: 1;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  font-size: 12px;
  line-height: 26px;
  margin: 4px 0;
  position: relative;
}

.toolbar {
  opacity: 0;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  font-size: 12px;
  line-height: 26px;
  margin: 4px 0;
  position: relative;
}

.toolbar:hover {
  opacity: 1;
}
.toolbar_popup i,
.toolbar i {
  padding: 0px 10px;
  color: #343a40eb;
  font-size: 18px !important;
  cursor: pointer;
}
.btn_save {
  color: #212122;
  background-color: transparent;
  border: none;
}
.btn_save:hover {
  color: #212122;
  background-color: #69676729;
  border: none;
}
.btn_cancel {
  color: #212122;
  background-color: transparent;
  border: none;
  line-height: 14px;
}
.btn_cancel:hover {
  color: #212122;
  background-color: #69676729;
  border: none;
}
.savebtn_popup {
  text-align: right;
}
.collab_footer_popup {
  padding: 2px;
  background: transparent;
  display: flex;
  justify-content: left;
  border-top: none;
}
.collab_footer {
  padding: 4px;
  background: #867f7f29;
}
.collab_header {
  padding: 0px 2px;
}
.collab_body {
  padding: 20px 10px;
}
/* .modal-backdrop {
  display: none !important;
} */
.modal-open .modal {
  /* width: 300px; */
  margin: 0 auto;
}
.otherUserInput {
  border: 1px solid transparent;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #25272a;
}
.mailAddIcon {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  border: 1px solid grey;
}
.mailAddIcon i {
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: grey;
}
.ownerMailId {
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.ownerAcnt,
.otherUser {
  display: flex;
  flex-direction: row;
  padding-top: 9px;
  padding-left: 5px;
}
.collab_box {
  padding-top: 21%;
  padding-bottom: 21%;
}
.dropdown-menu a {
  color: #212122;
  margin: 15px;
}
.droplist .dropdown-menu.show {
  height: 100px;

  overflow-y: scroll;
}

/***colour***/
.color-option {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #dedede;
  padding: 12px 12px;
}

.color-tooltip {
  border-bottom: 2px solid #fff;
  position: absolute;
  top: -40;
  background: #fff;
  border: 1px solid black;
  left: 0;
  z-index: 20;
  border-radius: 5px;
  display: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 7px 7px 3px;
  width: 125px !important;
  /* height: 40px; */
  justify-content: space-between;
  min-width: inherit;
}

.color-tooltip.show {
  /* display: flex; */
  top: -112px !important;
}

.color-tooltip a {
  color: #212122;
  margin: 0px;
}
.color_drop {
  padding: 5px;
  float: left;
}
.archTop {
  margin-top: 45px;
}
.modal-backdrop.show {
  opacity: 0.5 !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(../assets/dashboard-page/person_black_24dp.svg);
}
.navbar-toggler-icon {
  background-size: 75% 75%;
}
.navbar-light .navbar-toggler {
  border: none;
}
.float-direction-left {
  float: left;
}
.float-direction-right {
  float: right;
}
/* #addnote-collab-h{
  border-style: groove;
  width: 5%;
  color: black;
  border-radius: 55px;
  background-color: #fff;
  border-color: rgb(255, 255, 255);
} */
#display-icon-main,
.display-collab-letter {
  background-color: rgb(224 215 215 / 20%);
  color: #343a40;
  font-family: "Roboto";
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
}
.display-avatar,
.display-icon {
  padding: 0px 13px 0px;
  display: flex;
}
.display-icon-popup {
  padding: 0px 26px 0px;
  display: flex;
}

.contentPopup {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  z-index: 1;
}
.contentDisplayCollab {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.sidebar.open li a:hover {
  background-color: #ffc1072e;
}
.sidebar.open li a:focus {
  background-color: #ffc1072e;
}

/******************************************/

@media only screen and (max-width: 1080px) and (min-width: 830px) {
  #form-container {
    border-radius: 8px;
    border: 0.5px solid #d3d3d3;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
      0 2px 6px 2px rgb(60 64 67 / 15%);
    margin-top: 60px !important;
    max-width: 496px;
    position: relative;
    left: 29px;
    width: calc(100% - 97px);
    margin: 0 auto;
  }
  .sidebar.open ~ #form-container {
    position: relative;
    left: 86px;
    width: calc(100% - 255px);
  }
}

@media only screen and (max-width: 600px) and (min-width: 360px) {
  .sidebar.open ~ #notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 50px !important;
    width: calc(100% - 50px) !important;
  }
  #form-container {
    border-radius: 8px;
    border: 0.5px solid #d3d3d3;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
      0 2px 6px 2px rgb(60 64 67 / 15%);
    margin-top: 60px !important;
    max-width: 496px;
    position: relative;
    left: 23px !important;
    width: calc(100% - 118px);
    margin: 0 auto;
  }
  .sidebar.open ~ #form-container {
    border-radius: 8px;
    border: 0.5px solid #d3d3d3;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
      0 2px 6px 2px rgb(60 64 67 / 15%);
    margin-top: 60px !important;
    max-width: 496px;
    position: relative;
    left: 31px !important;
    width: calc(100% - 97px) !important;
    margin: 0 auto;
  }
  .note-icons .icons_span {
    padding: 0px 6px;
    color: #5f6368;
    font-size: 0px !important;
  }
  .savebtn_popup {
    text-align: right;
  }
}
@media only screen and (max-width: 360px) {
  #note-title {
    font-size: 14px;
  }
  #note-text {
    font-size: 14px;
  }
  .note-icons .material-icons {
    font-size: 16px !important;
  }
  #form-close-button {
    font-size: 14px;
  }
  .note {
    height: 119px;
    margin: 0px 30px 10px 35px;
    width: 100%;
  }
  .savebtn_popup {
    text-align: right;
  }
  .sidebar li i {
    font-size: 23px;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 760px) {
  #form-container {
    margin-top: 60px !important;
    max-width: 496px;
    left: 23px;
  }
  .sidebar.open ~ #form-container {
    left: 86px;
    width: calc(100% - 255px);
  }
  .sidebar.open ~ #notes {
    left: 179px !important;
    width: calc(100% - 192px) !important;
  }
  #form-container {
    border-radius: 8px;
    border: 0.5px solid #d3d3d3;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
      0 2px 6px 2px rgb(60 64 67 / 15%);
    margin-top: 60px !important;
    max-width: 496px;
    position: relative;
    left: 29px;
    width: calc(100% - 97px);
    margin: 0 auto;
  }
  .sidebar.open ~ #form-container {
    position: relative;
    left: 86px;
    width: calc(100% - 255px);
  }
}
@media only screen and (max-width: 600px) {
  .note {
    margin: 0px 30px 10px 35px;
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  #form-container {
   

    left: 26px;

    width: 207px;
  }
  .note-icons .icons_span {
    padding: 0px 1px;
    
    font-size: 9px !important;
}
.icon_flex {

  padding-right: 28px;
}
.navbar-brand h2 {
  font-size: 18px;
  
  margin-left: 5px !important;
}
.archTop {
  margin-top: 25px;
}
.sidebar.open {
  width: 150px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.sidebar.open ~ #notes {
 
  left: 0px !important; 
   width: inherit !important;
}
.sidebar.open ~ #form-container {
  left: 0px !important; 
  width: 250px;
}
}
